<section class="orders-show">

  <header class="page-header">

  </header>
  <main>
  <center><h2>All About Plants</h2></center>
  <br>
  <h5>
  Plants are predominantly photosynthetic eukaryotes of the kingdom Plantae. Historically, the plant kingdom encompassed all living things that were not animals, and included algae and fungi; however, all current definitions of Plantae exclude the fungi and some algae, as well as the prokaryotes (the archaea and bacteria). By one definition, plants form the clade Viridiplantae (Latin name for "green plants") which is sister of the Glaucophyta, and consists of the green algae and Embryophyta (land plants). The latter includes the flowering plants, conifers and other gymnosperms, ferns and their allies, hornworts, liverworts, and mosses.
  </h5>
  <br>
  <center><h4>Created by LHL with collaborations by Jesse Shen</h4></center>
  </main>
</section>
